@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: smooth scrolling */
html {
  scroll-behavior: smooth;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

.animate-fadeIn {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

